/* Variables
   ========================================================================== */

:root {
  --wild-green: #8bc34a;
  --light-green: #cddc39;
  --yellow-green: #e3e84d;
  --grey: #DDD;
}


/* Style
   ========================================================================== */
td {
  border: 1px solid var(--grey);
  height: 1em;
  width: 1em;
}

td:hover:not( .alive ):not( .newBorn ) {
  background: var(--yellow-green);
}

.alive {
 background: var(--wild-green);
}

.newBorn {
 background: var(--light-green);
}
