/* Variables
   ========================================================================== */

:root {
  --light-blue: #c1e2fb;
}

/* Style
   ========================================================================== */
.counter {
  padding: .5em .7em .6em;
  background-color: var(--light-blue);
  border-radius: 2px;
}
